  .example {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 300px 50px;
    margin: 20px 0;
  } 

  .example2 {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 200px 50px;
    margin: 20px 0;
  } 

  .ant-calendar-picker-container {
    z-index: 1000;
  }