.events {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .events .ant-badge-status {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;
  }

  .example {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 300px 50px;
    margin: 20px 0;
  } 

  .example2 {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 200px 50px;
    margin: 20px 0;
  } 