/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
} */

/* body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    background-size: 100%;
    min-height: 100%;
} */

/* .App-form {
   background-color: #464b46;
   min-height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
   cursor: pointer;
} */

/* .bg-img{
    background-image: url("https://cdn.wallpapersafari.com/89/67/QDuvFB.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } */
/*background: url(/img/background1.gif) no-repeat;*/

