.html{
    min-height: 100%;
}
.bg-img{
  background-image: url("./error.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: auto;
  height: 100%;
  padding-top: 12%;
  margin: 100 auto;
}
.error-img{
  background-image: url("./404.png");
  background-position: center;
  background-repeat: no-repeat;
  flex: auto;
  padding-top: 20%;
}


  


  
