.login-form {
    max-width: 500px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
.box {
  overflow: hidden;
}

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../bg.png");
  flex: auto;
  height: 100%;
  padding-top: 8%;
  margin: 100 auto;
}  